$border-color: #12949b;
$background-color: #3a4e50ee;
$main-color: #08b453;
$dark-color: #333;
$light-color: seashell;
$medium-color: PaleVioletRed;
$secondary-color: #1dafb8;

.bottom-line {
  height: 5.5px;
  width: 6rem;
  background: $secondary-color;
  display: block;
  margin: 0 auto 1rem auto;
}

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: azure;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $secondary-color;
}
