$border-color: #12949b;
$background-color: #3a4e50EE;
body {
  padding: 0;
  margin: 0;
  //code for setting transparent background image
  .background{
    position: absolute; 
    height: 100vh;
    width: 100%;
  }
  .home::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url('../../img/background.jpg') no-repeat center/cover;
  }
  .blog::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url('../../img/mushroom.jpg') no-repeat center/cover;
  }
  .contact::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url('../../img/mushroom.jpg') no-repeat center/cover;
  }
  .team::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url('../../img/mushroom.jpg') no-repeat center/cover;
  }
  //required div class for text to appear on top of background
  .maincontent {
    position: relative;
    font-family: "Hind", sans-serif;
    .img-logo {
      border-radius: 50%;
      border: 3px solid $border-color;
      width: 125px;
      height: 125px;
      object-fit: cover;

    }
    #logo {
      width: 70px;
      height: 70px;
      color: #fff;
      text-transform: uppercase;
    }
    header {
      #nav-bar {
        padding: 2rem 3rem;
        background: $background-color;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        height: 60px;
        ul {
          display: flex;
        }
        li {
          padding: 1rem 1.5rem;
        }
        a {
          text-decoration: none;
          color: $border-color;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;
          text-emphasis: 1rem;
          font-weight: bolder;
          font-size: larger;
        }
        a:hover {
          border-color: $border-color;
        }
        a.current {
          border-color: #08b453;
        }
      }
    }
    #socials {
      margin: 5vh;
      text-align: center;
      h1 {
        font-size: 28px;
        color: black;
      }
      .social-menu {
        height: 10vh;
        ul {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
          margin: 0;
          display: flex;
          li {
            list-style: none;
            margin: 0 10px;
            .fab {
              color: #000000;
              font-size: 45px;
              line-height: 70px;
              transition: 0.5s;
            }
            .fas {
              color: #000000;
              font-size: 45px;
              line-height: 70px;
              transition: 0.5s;
            }
            .fa:hover {
              color: #ffffff;
            }
            a {
              margin-bottom: 30vh;
              position: relative;
              display: block;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              background-color: #f4f4f4;
              text-align: center;
              transition: 0.5s;
              transform: translate(0, 0px);
              box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            }
            a:hover {
              transform: rotate(0deg) skew(0deg) translate(0, -10px);
            }
            
          }
          li:nth-child(1) a:hover {
            background-color: #3b5999;
          }
          li:nth-child(2) a:hover {
            background-color: #55acee;
          }
          li:nth-child(3) a:hover {
            background-color: #e4405f;
          }
          li:nth-child(4) a:hover {
            background-color: #cd201f;
          }
          li:nth-child(5) a:hover {
            background-color: #0077b5;
          }
        }
      }
    }
    #team-top {
      padding: 5%;
      border-style: solid;
      border-color: $border-color;
      border-width: 10px;
      width: 70%;
      height: 5%;
      position: relative;
      left: 50%;
      top: 100px;
      transform: translate(-50%, 0);
      background-color: $background-color;
    }
    #team-main {
      border-style: solid;
      border-color: $border-color;
      border-width: 10px;
      width: 80%;
      position: relative;
      left: 50%;
      top: 90px;
      transform: translate(-50%, 0);
      background-color: $background-color;
      margin-bottom: 10%;
      ul {
        display: flex;
        color:#00000000;
        margin: 0;
        margin-left: -40px;
        li {
          list-style: none;
          border-right-style: solid;
          border-color: $border-color;
          border-width: 10px;
          width: 30%;
          padding: 5%;
          color: #000000;
          
        }
        #border {
          border-right-style: none;
        }
      }
    }
    .btn-main,
    .btn-light,
    .btn-dark {
      
    }
    
  }
}
