@import "config";

body {
  padding: 0;
  margin: 0;
  //code for setting transparent background image

  .background {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .home::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background: url("../../img/homebg1.jpg") no-repeat center/cover;
  }

  .home-main {
    padding: 60px;
    height: 60vh;
    color: white;
    h1 {
      font-size: 78px;
    }
    p {
      font-size: 23px;
    }
    strong {
      color: #146b3a;
      text-decoration: underline;
    }
  }
  #home-a {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    .special {
      text-align: center;
      font-size: 15px;
      width: 350px;
      height: 500px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 15px 25px;
      cursor: pointer;
      margin: 10px 15px;
      background: $light-color;
      transition: transform 0.5s;
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
      h1 {
        font-size: 28px;
      }
    }
    .special:hover {
      transform: translateY(-15px);
    }
  }

  .blog-top {
    text-align: center;
    padding: 30px 80px;
    margin-bottom: 90px;
    h1 {
      text-decoration: underline;
      color: $secondary-color;
      font-size: 40px;
    }
    p {
      font-weight: 24px;
      font-size: 19px;
    }
  }
  .top1 {
    background: white;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    .special {
      text-align: center;
      font-size: 15px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 15px 25px;
      cursor: pointer;
      margin: 10px 15px;
      background: whitesmoke;
      h1 {
        text-decoration: underline;
        font-size: 23px;
      }
    }
  }
  #blog-recent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 200px;
    .container {
      border-radius: 5px;
      background: rgb(222, 235, 227);
      width: 26rem;
      height: 650px;
      color: black;
      text-align: center;
      margin: 3rem;
      padding: 1rem;
      box-shadow: 0 6px 7px black;
      .img-article {
        width: 26rem;
        height: 245px;
      }
      h1 {
        text-decoration: underline;
      }
    }
  }

  .blog-h {
    text-align: center;
    margin: 2rem;
    font-size: x-large;
  }

  .blog::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url("../../img/blogbg.jpg") no-repeat center/cover;
  }
  .contact::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url("../../img/bg.jpg") no-repeat center/cover;
  }
  .team::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url("../../img/mushroom.jpg") no-repeat center/cover;
  }

  #contact-top {
    p {
      padding: 10px;
    }
    h1 {
      text-align: center;
      font-size: 65px;
      color: #111;
    }
  }

  #contact1 {
    height: 70vh;
    .contact-form {
      max-width: 600px;
      margin: auto;
      padding: 0 10px;
      overflow: hidden;
      .contact-text {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 16px 0;
        border: 0;
        background: #111;
        padding: 20px 40px;
        outline: none;
        color: #ddd;
        transition: 0.5s;
      }
      .contact-text:focus {
        box-shadow: 0 0 10px 4px $main-color;
      }
      textarea {
        resize: none;
        height: 250px;
      }
      .contact-btn {
        border: 0;
        background: #2980b9;
        color: #fff;
        padding: 12px 285px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;
        text-align: center;
        align-self: center;
      }
      .contact-btn:hover {
        background: $border-color;
      }
    }
  }

  //required div class for text to appear on top of background
  .maincontent {
    position: relative;
    font-family: "Hind", sans-serif;
    .img-logo {
      border-radius: 50%;
      border: 3px solid $border-color;
      width: 125px;
      height: 125px;
      object-fit: cover;
    }
    #logo {
      width: 70px;
      height: 70px;
      color: #fff;
      text-transform: uppercase;
    }
    header {
      #nav-home {
        padding: 2rem 3rem;
        background: transparent;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        height: 60px;
        ul {
          display: flex;
        }
        li {
          padding: 1rem 1.5rem;
          list-style: none;
        }
        a {
          text-decoration: none;
          color: $border-color;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;
          text-emphasis: 1rem;
          font-weight: bolder;
          font-size: 22px;
        }
        a:hover {
          border-color: $main-color;
        }
        a.current {
          border-color: white;
        }
      }
      #nav-bar {
        padding: 2rem 3rem;
        background: $background-color;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        height: 60px;

        ul {
          display: flex;
        }
        li {
          padding: 1rem 1.5rem;
          list-style: none;
        }
        a {
          text-decoration: none;
          color: $border-color;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;
          text-emphasis: 1rem;
          font-weight: bolder;
          font-size: larger;
        }
        a:hover {
          border-color: $border-color;
        }
        a.current {
          border-color: $main-color;
        }
      }
    }
    #main-footer {
      margin-top: 100px;
      height: 40px;
      text-align: center;
      background: $medium-color;
    }
    #team-footer {
      margin-top: 100px;
      height: 40px;
      text-align: center;
      background: $secondary-color;
    }
    #socials {
      text-align: center;
      h1 {
        margin-top: 20px;
        font-size: 38px;
        color: black;
      }
      .social-menu {
        height: 10vh;
        ul {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
          margin: 0;
          display: flex;
          li {
            list-style: none;
            margin: 0 10px;
            .fab {
              color: #000000;
              font-size: 65px;
              line-height: 95px;
              transition: 0.5s;
            }
            .fas {
              color: #000000;
              font-size: 65px;
              line-height: 95px;
              transition: 0.5s;
            }
            .fa:hover {
              color: #ffffff;
            }
            a {
              margin-bottom: 30vh;
              position: relative;
              display: block;
              width: 95px;
              height: 95px;
              border-radius: 50%;
              background-color: #f4f4f4;
              text-align: center;
              transition: 0.5s;
              transform: translate(0, 0px);
              box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            }
            a:hover {
              transform: rotate(0deg) skew(0deg) translate(0, -10px);
            }
          }
          li:nth-child(1) a:hover {
            background-color: #3b5999;
          }
          li:nth-child(2) a:hover {
            background-color: #55acee;
          }
          li:nth-child(3) a:hover {
            background-color: #e4405f;
          }
          li:nth-child(4) a:hover {
            background-color: #cd201f;
          }
          li:nth-child(5) a:hover {
            background-color: #0077b5;
          }
        }
      }
    }
    #socials-contact {
      text-align: center;
      .social-menu {
        ul {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
          margin: 0;
          display: flex;
          li {
            list-style: none;
            margin: 0 10px;
            .fab {
              color: #000000;
              font-size: 65px;
              line-height: 95px;
              transition: 0.5s;
            }
            .fas {
              color: #000000;
              font-size: 65px;
              line-height: 95px;
              transition: 0.5s;
            }
            .fa:hover {
              color: #ffffff;
            }
            a {
              position: relative;
              display: block;
              width: 95px;
              height: 95px;
              border-radius: 50%;
              background-color: #f4f4f4;
              text-align: center;
              transition: 0.5s;
              transform: translate(0, 0px);
              box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            }
            a:hover {
              transform: rotate(0deg) skew(0deg) translate(0, -10px);
            }
          }
          li:nth-child(1) a:hover {
            background-color: #3b5999;
          }
          li:nth-child(2) a:hover {
            background-color: #55acee;
          }
          li:nth-child(3) a:hover {
            background-color: #e4405f;
          }
          li:nth-child(4) a:hover {
            background-color: #cd201f;
          }
          li:nth-child(5) a:hover {
            background-color: #0077b5;
          }
        }
      }
    }
    #team-top {
      padding: 5%;
      border-style: solid;
      border-color: $border-color;
      border-width: 10px;
      width: 70%;
      height: 5%;
      position: relative;
      left: 50%;
      top: 100px;
      transform: translate(-50%, 0);
      background-color: $background-color;
    }
    #team-main {
      border-style: solid;
      border-color: $border-color;
      border-width: 10px;
      width: 80%;
      position: relative;
      left: 50%;
      top: 90px;
      transform: translate(-50%, 0);
      background-color: $background-color;
      margin-bottom: 10%;
      .teamfirst {
        display: flex;
        color: #00000000;
        margin: 0;
        margin-left: -40px;
        li {
          list-style: none;
          border-right-style: solid;
          border-color: $border-color;
          border-width: 10px;
          width: 30%;
          padding: 5%;
          color: #000000;
        }
        #border {
          border-right-style: none;
        }
      }
      .teamsecond {
        display: flex;
        color: #00000000;
        margin: 0;
        margin-left: -40px;
        li {
          list-style: none;
          border-right-style: solid;
          border-top-style: solid;
          border-color: $border-color;
          border-width: 10px;
          width: 50%;
          padding: 5%;
          color: #000000;
        }
        #border {
          border-right-style: none;
        }
      }
    }
  }
}
